{% extends 'newapp/basbana.html' %}

{% block title %} Register {% endblock title %}

{% block content %}



  {% if message %}

    <h3>{{message}}</h3>

  {% else %}


  <form method="POST">
  	{% csrf_token %}
    <div class="row row-cols-1 row-cols-md-2 mb-2">
      <div class="col" >
        <div class="card mb-3 rounded-2 shadow-sm border-light">
          <div class="card-header py-4 text-bg-light border-light">
        {% if warning %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{warning}}</strong> 
                <i class="fa fa-times fa-2x" style=" color:red;"></i>
            </div>
        {% endif %}

            <center><h4 class="btn btn-success text-white" ><strong>Registeration</strong></h4><br></center>
              <p>if you are member, you can see more details</p>

            <div class="form-group">
              <label for="fullname">Fullname :</label><br>
              <input type="text" class="form-control" id="fullname" name="fullname" required>
            </div><br>

            <div class="form-group">
              <label for="mobile">Phone :</label><br>
              <input type="tel" class="form-control" id="mobile" name="mobile"placeholder="089-667678"pattern="[0-9]{3}-[0-9]{3}[0-9]{4}">
            </div><br>

            <div class="form-group">
              <label for="username">Email :</label><br>
              <input type="text" class="form-control" id="username" name="username" required>
            </div><br>

            <div class="form-group">
              <label for="password">Password :</label><br>
              <input type="password" class="form-control" id="password" name="password" required>
            </div><br>

            <div class="form-group">
              <label for="password2">Password(again):</label><br>
              <input type="password"class="form-control" id="password2" name="password2" required>
            </div>
            <br>
            <center><button type="submit" class="btn btn-success">Register</button></center>
          </div>
        </div>
      </div>
    </div> 
  </form>


  {% endif %}



{% endblock content %}