{% extends 'newapp/basbana.html' %}

{% block title1 %} Reset newpassword {% endblock title1 %}

{% block content %}



  <form method="POST">
    <div class="row row-cols-1 row-cols-md-3 mb-3">
      <div class="col w-50">
        <div class="card mb-4 rounded-3 shadow-sm border-light">
          <div class="card-header py-3 text-bg-light border-light">
          	{% csrf_token %}
            {% if error %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <h5>{{error}}</h5>
              </div>
            {% endif %}
            <div class="form-group">
              <label class =" btn btn-warning" for="resetpassword1">New password :</label><br><br>
              <input type="password" class="form-control" id="resetpassword1" name="resetpassword1">
            </div>
            <br>
            <div class="form-group">
              <label class =" btn btn-warning" for="resetpassword2">New password(again) :</label><br><br>
              <input type="password" class="form-control" id="resetpassword2" name="resetpassword2">
            </div>
            <br>

            <center><button type="submit" class="btn btn-danger">Reset newpassword</button><center>

          </div>
        </div>
      </div>
    </div>
  </form>  




{% endblock content %}