{% extends 'newapp/resumebase.html' %}

{% load static %}
{% block title1 %} About me {% endblock title1 %}

{% block content %}

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="page-title text-center">
              <h2>About <span class="primary">me</span> <span class="title-bg">Name</span></h2>
              <p>This portfolio is a result from startdying Uncle Engineer school.</p>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="about-author">
              <figure class="author-thumb">
                <img src="images/author.jpg" alt="">
              </figure> <!-- /.author-bio -->
              <div class="author-desc">
                <p><b>Date of birth:</b> 8th January, 1995</p>
                <p><b>Language:</b> English, Thai</p>
                <p><b>Expert in:</b> Django Web development</p>
                <p><b>Expected salary :</b> 25,0000 Baht</p>
              </div>
              <!-- /.author-desc -->
            </div> <!-- /.about-author -->
            <p>I am interested in learning about the software developer, Data science,Data scientist and  Data engineer and I want to change my current a job.</p>
          </div> <!-- /.col -->

          <div class="col-xs-12 col-md-6">
            <div class="section-title clear">
              <h3>Skills</h3>
            </div>
            <div class="skill-wrapper">
              <div class="progress clear">
                <div class="skill-name">Python</div>
                <div class="skill-bar">
                  <div class="bar"></div>
                </div>
                <div class="skill-lavel" data-skill-value="90%"></div>
              </div> <!-- /.progress -->
              <div class="progress clear">
                <div class="skill-name"> &nbsp;&nbsp;Django&nbsp;&nbsp; </div>
                <div class="skill-bar">
                  <div class="bar"></div>
                </div>
                <div class="skill-lavel" data-skill-value="60%"></div>
              </div> <!-- /.progress -->
              <div class="progress clear">
                <div class="skill-name">Fluter</div>
                <div class="skill-bar">
                  <div class="bar"></div>
                </div>
                <div class="skill-lavel" data-skill-value="70%"></div>
              </div> <!-- /.progress -->
            </div> <!-- /.skill-wrapper -->
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
      <br>
      <br>

      <nav class="page-nav clear">
  <div class="container">
    <div class="flex flex-middle space-between">
      <span class="prev-page"><a href="{% url 'Resume-Home' %}" class="link btn btn-danger">&larr; Homepage</a></span>
      <span class="copyright">Copyright &copy; 2021, Designed &amp; Developed by <a href="{% static 'template/Best Responsive HTML5 Bootstrap Website Templates.html' %}">Themefisher</a>.</span>
      <span class="next-page"><a href="{% url 'History-page' %}" class="link btn btn-danger">History &rarr;</a></span>
    </div>
  </div>
  <!-- /.page-nav -->
</nav>
      <!-- /.container -->
    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->
{% endblock content %}